# SPDX-FileCopyrightText: 2025 Joe Pitt
#
# SPDX-License-Identifier: GPL-3.0-only

name: Build Development Image
on:
  push:
    branches: 
      - "*"
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  keycloak:
    name: Get Version Information
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.digest.outputs.digest }}
      version: ${{ steps.version.outputs.tag }}
    steps:
      - name: Get Latest Keycloak Version
        id: version
        uses: joepitt91/action-version-from-dockerhub@v1
        with:
          dockerhub_username: ${{ secrets.DOCKER_USER }}
          dockerhub_token: ${{ secrets.DOCKER_PASSWORD }}
          namespace: keycloak
          repository: keycloak

      - name: Get Digest for Identified Version
        id: digest
        uses: joepitt91/action-digest-from-dockerhub-image@v1
        with:
          dockerhub_username: ${{ secrets.DOCKER_USER }}
          dockerhub_token: ${{ secrets.DOCKER_PASSWORD }}
          namespace: keycloak
          repository: keycloak
          tag: ${{ steps.version.outputs.tag }}

  build:
    name: Build Image
    runs-on: ubuntu-latest
    needs:
      - keycloak
    steps:
      - name: Image Information
        run: echo "Building optimised image of Keycloak ${{ needs.keycloak.outputs.version }} from image with digest ${{ needs.keycloak.outputs.digest }}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          build-args: |
            KEYCLOAK_VERSION=${{ needs.keycloak.outputs.version }}
          provenance: true
          pull: true
          push: true
          sbom: true
          tags: |
            ghcr.io/joepitt91/keycloak-optimised-dev:${{ github.event_name }}_${{ github.sha }}
